.navigationButtons {
    display: flex;
    flex-direction: column;

    width: 600px;
    margin: 20px auto;
}

.row {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.navigationButton {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    margin: 5px 5px;
    padding: 5px 5px;

    /* border: 1px solid #94c2ff; */
    border: 1px solid #0061e0;
    border-radius: 10px;

    background-color: #0061e0;
    color: white;
}
