.navigationOverlay {
    height: 100%;
}

.title {
    text-align: center;
    cursor: pointer;
}

.upButtonsContainer {
    position: absolute;

    background-color: #e0e0e0;
    height: 60px;
    width: 100%;

    top: -80px;

    padding: 10px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: top 100ms;
}

.upButtonsContainer.visible {
    top: 0px;
}

.button {
    position: fixed;

    background-color: #e0e0e0;
    height: 100%;
    width: 60px;

    top: 0;

    padding: 10px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}

@media screen and (max-width: 575px) {
    .button {
        display: none;
    }
}

.prevButton {
    left: -80px;

    transition: left 100ms;
}

.prevButton.visible {
    left: 0;
}

.nextButton {
    right: -80px;

    transition: right 100ms;
}

.nextButton.visible {
    right: 0;
}

.buttonContainer {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;
}
.todayButton {
    display: flex;
    justify-content: center;

    text-align: center;

    width: 30vw;

    margin: 20px;
    padding: 5px 5px;

    /* border: 1px solid #94c2ff; */
    border: 1px solid #0061e0;
    border-radius: 3px;

    background-color: #0061e0;
    color: white;
}
